[user]
    name = Mathew Hawley
    email = mathew@mathewhawley.com
[core]
    excludesfile = ~/.gitignore_global
    editor = subl -n -w
[include]
    path = ~/.gitlocal
[url "https://github.com/"]
    insteadOf = gh:
[push]
    default = simple
[color]
    ui = true
[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true
